# xcode noise
build/*
*.perspective
*.perspectivev3
*.pbxuser
*.xcworkspace
*.xcuserstate
*.mode1
*.mode2v3
*.mode1v3
xcuserdata
Snapshots

# osx noise (finder)
.DS_Store

# svn (who uses this crap?)
.svn

# emacs backup files
*~

# build directory
build

# other artifacts
*.o
*.lev

# some results of applying diff
*.rej
*.orig

